.dashboard {

  .tiles {
    .tile {
      text-align: center;

      .btn {
        .fa {
          font-size: 3em;
          display: block;
          margin: 1em;
        }

        width: 100%;
        height: 100%;

        &.return {
          background-color: transparent;
          color: $text-color;

          &:hover {
            color: $btn-default-color;
          }
        }
      }
    }
  }

  .activityLog {
    @include breakpoint(desktop) {
      max-height: 37em;
      overflow: auto;
    }

    .row {
      @extend %panel;

      .fa-plus,
      .fa-check-circle-o{
        color: $validate-color;
      }

      .fa-times-circle-o {
        color: lighten($error-color, 20%);
      }

      .fa-trash {
        color:$error-color;
      }
    }
  }

}