@import "../variables";
@import "../general";
@import "../includes/helpers";

.documents {
  h2 {
    color: $documents-color;

    a {
      color: $documents-color;

      &:hover {
        color: lighten($documents-color, 10%);
        text-decoration: none;
      }
    }
  }

  .brick {
    padding: 1em;
    background-color: transparentize($btn-default-color, 0.9);
  }

  table.documents {
    width: 100%;

    > tr > th,
    > tbody > tr > th {
      line-height: 4em;
      text-align: left;
      padding: 0 0.5em;

      a {
        text-decoration:none;
        color:$text-color;

        &:hover {
          color:$btn-default-color;
        }
      }
    }

    .small {
      font-size: 0.8em;

      &.unpublished-changes {
        background-color: $files-color;
        border-radius: 3px;
        padding: 0 0.5em;
      }

      &.document-type {
        color:#999;
      }
    }

    > tr:first-child,
    > tbody > tr:first-child {
      > td {
        border-top: 5px solid $bg-color;
      }
    }

    > tr > td.icon,
    > tbody > tr > td.icon {
      text-align: center;
      width: 3em;

      &.context-menu-container {
        width: 4em;
        padding-right: 1em;
      }
    }

    > tr > td,
    > tbody > tr > td {
      line-height: 4em;
      border-bottom: 3px solid $bg-color;
      background-color: #ffffff;

      > a {
        color: $btn-default-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > tr:hover,
    > tbody > tr:hover {
      > td {
        background-color: rgba($documents-color, 0.1);
      }

      .context-menu {
        border: 1px solid $documents-color;
      }
    }

    .context-menu {
      line-height: 3em;
      box-sizing: border-box;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $documents-color;
        color: #ffffff;
        > i {
          color: #ffffff;
        }
      }

      a {
        width: 10em;
        display: inline-block;
        text-align: left;
        padding: 0 0.5em;
        text-decoration: none;
        color:$btn-default-color;

        .fa-pencil {
          color:$btn-default-color;
        }

        .fa-trash {
          color: $sitemap-color;
        }

        .fa-times {
          color: $sitemap-color;
        }

        .fa-check {
          color: $images-color;
        }

        &:hover {
          background-color: $documents-color;
          color: #ffffff;
          i {
            color: #ffffff;
          }
        }
      }

      &.active {
        ul {
          display: block;
        }
      }

      ul {
        margin-top: -1em;
        display: none;
        position: absolute;
        text-align: right;
        margin-left: -7em;
        background-color: #ffffff;
        box-shadow: 5px 5px 15px #999999;

        li {
          border-bottom: 1px solid $bg-color;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            border-color: $documents-color;
          }
        }
      }
    }

    .fa {
      font-size: 1.5em;
      vertical-align: sub;

      &.fa-check-circle-o {
        color: $images-color;
      }

      &.fa-times-circle-o {
        color: $sitemap-color;
      }
    }

    .details {
      max-height:0;
      transition:0.5s max-height;
      overflow:hidden;

      &.active {
        max-height:500px;
        transition:1s max-height;
      }

      td, th {
        font-size:0.8em;
        padding: 0 1em;
      }
      th {
        font-weight:700;
      }
    }
  }

  form {
    @extend %panel;

    div.title.readonly {
      label {
        display:none;
      }

      input[readonly="readonly"] {
        background-color:#fff;
        font-size:1.5em;
        font-family: $font-family-headers;
        border:none;
        padding:0;
      }
    }


    .form-element {
      display: table;
      width: 100%;

      & > label {
        display: block;

        @include breakpoint(desktop) {
          display:table-cell;
        }

        width: 10em;
        text-align: left;
        margin: 1em;
        vertical-align: middle;
      }

      & > input[type="text"], & > input[type="password"], & > input[type="email"], & > input[type="date"], & > input[type="number"], & > input[type="file"], & > select, & > textarea {
        display: table-cell;
      }
    }

    .brick {
      .handles {
        float: right;
      }

      & label {
        display: block;
        width: auto;
        margin: 1em 0 2em 0;
      }

      div.form-element {
        & label {
          display: block;

          @include breakpoint(desktop) {
            display:table-cell;
          }
          width: 10em;
        }
      }
    }

    .selected-image {
      width: 10em;
      height: 10em;
      background-size: cover;
      background-position: center;
      background-color: $input-bg-color;
      border: 1em solid $input-bg-color;
    }

    .image-selector {
      background-color: $input-bg-color;
      padding: 1em;

      img {
        width: 100px;
        height: 100px;
        margin: 0.5em;
        background-color: #ffffff;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
          background-color: $btn-default-color;
        }
      }
    }

    .file,
    .document {
      .file-selector,
      .document-selector {
        background-color: $input-bg-color;
        padding: 0.5em;
        max-height: 23em;
        overflow: auto;
        li {
          padding: 1em;
          margin: 0.5em;
          background-color: #ffffff;
          cursor: pointer;

          &:hover {
            color: $btn-default-color;
          }

          &.no-results {
            cursor: default;
            display: none;

            &:hover {
              color: $text-color;
            }
          }

          i {
            margin-right: 1em;
          }

          .path {
            font-family: $font-family-code;
            color: $text-color-light;
          }
        }
      }

      .selected-file-type {
        font-size: 4em;
        text-align: center;
        padding-top: 0.5em;

        .fa-ellipsis-h {
          font-size: 0.5em;
        }
      }
    }
  }

  .dynamicBricks {
    li {
      margin-bottom: 1em;
    }

    .handles {
      text-align: right;
    }
  }

}